@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this at the start of your global.css */
:root {
  --brand-yellow-prominent: #FDD453; /* Define your brand color */
}


/* Add this in your global.css or similar */
.radio-brand {
  accent-color: var(--brand-yellow-prominent); /* Use your brand color variable or directly #FDD453 if you haven't defined variables */
}
